<ng-container *ngIf="node">
  <div class="op-node-editor">
    <div class="op-node-title">
      {{ node?.type?.name }}
    </div>
    <form [formGroup]="nodeForm">
      <div class="op-node-form">
        <mat-form-field class="op-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            [formControlName]="'name'"
            placeholder="Name of the node"
          />
          <mat-error *ngIf="nodeForm.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="op-node-editor-actions">
        <button mat-button mat-dialog-actions mat-dialog-close>Cancel</button>
        <button
          mat-button
          mat-dialog-actions
          color="primary"
          (click)="save()"
          [disabled]="nodeForm.invalid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-container>
