:host.op-node {
  border-radius: 16px;
  border: 2px solid var(--transparent, transparent);
  box-sizing: content-box;
  color: var(--white, #fff);
  cursor: pointer;
  position: absolute;

  &.op-node-selected {
    background-origin: border-box;
    border: 2px solid var(--light-grey, #ababab);
  }

  > .op-node-spacing {
    background-color: var(--light-blue, #1db9ff);
    border-radius: 13px;
    box-shadow: 2px 2px 6px var(--light-grey);
    display: flex;
    flex-direction: row;
    margin: 8px;

    > .op-node-title {
      font-size: 1rem;
      font-weight: 700;
      margin: auto;
      text-align: center;
    }

    > .op-node-inputs {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    > .op-node-outputs {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    .op-node-endpoint-output {
      font-size: 0.8rem;
      padding: 10px 35px 15px 15px;
    }

    .op-node-endpoint-input {
      font-size: 0.8rem;
      padding: 10px 15px 15px 35px;
    }
  }
}
