:host {
  display: inline-block;
  cursor: pointer;
}
.op-node {
  position: absolute;
  background-color: var(--light-blue, #1db9ff);
  border-radius: 16px;
  color: var(--white, #fff);
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 6px var(--light-grey);

  > .op-node-title {
    text-align: center;
    margin: auto;
    font-size: 1rem;
    font-weight: 700;
  }

  > .op-node-inputs {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  > .op-node-outputs {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  .op-node-endpoint-output {
    padding: 10px 35px 15px 15px;
    font-size: 0.8rem;
  }

  .op-node-endpoint-input {
    padding: 10px 15px 15px 35px;
    font-size: 0.8rem;
  }
}


