<ng-container *ngIf="configuration">
  <div class="op-node-spacing" (click)="select($event)">
    <div class="op-node-inputs">
      <ng-container *ngFor="let endpoint of configuration.inputs">
        <div [id]="endpoint.id" class="op-node-endpoint-input">
          {{ endpoint.name }}
        </div>
      </ng-container>
    </div>
    <div class="op-node-title">
      <p>{{ configuration.name }}</p>
    </div>
    <div class="op-node-outputs">
      <ng-container *ngFor="let endpoint of configuration.outputs">
        <div [id]="endpoint.id" class="op-node-endpoint-output">
          {{ endpoint.name }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="op-node-actions" *ngIf="selected">
    <div class="op-node-action delete" (click)="delete($event)">
      <svg class="icon">
        <use xlink:href="assets/icons.svg#icon-delete"></use>
      </svg>
    </div>
    <div class="op-node-action edit" (click)="edit($event)">
      <svg class="icon">
        <use xlink:href="assets/icons.svg#icon-edit"></use>
      </svg>
    </div>
  </div>
</ng-container>
