:host.op-node {
  border-radius: 16px;
  border: 2px solid var(--transparent, transparent);
  box-sizing: content-box;
  color: var(--white, #fff);
  cursor: pointer;
  display: block;
  position: absolute;

  &.op-node-selected {
    background-origin: border-box;
    border: 2px solid var(--light-grey, #ababab);
  }

  > .op-node-spacing {
    background-color: var(--light-blue, #1db9ff);
    border-radius: 13px;
    box-shadow: 2px 2px 6px var(--light-grey);
    display: flex;
    flex-direction: row;
    margin: 16px;

    > .op-node-title {
      font-size: 1rem;
      font-weight: 700;
      margin: auto;
      text-align: center;
    }

    > .op-node-inputs {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    > .op-node-outputs {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }

    .op-node-endpoint-output {
      font-size: 0.8rem;
      padding: 10px 35px 15px 15px;
    }

    .op-node-endpoint-input {
      font-size: 0.8rem;
      padding: 10px 15px 15px 35px;
    }
  }

  > .op-node-actions {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 16px;
    position: absolute;
    top: -16px;
    width: 100%;

    > .op-node-action {
      display: block;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      position: relative;
      text-align: center;

      &.delete {
        background-color: red;
        svg.icon {
          position: relative;
          top: calc(50% - 9px);
          width: 15px;
          height: 15px;
          fill: var(--white, #fff);
        }
      }

      &.edit {
        background-color: var(--light-blue);
      }

      svg.icon {
        position: relative;
        top: calc(50% - 8px);
        width: 16px;
        height: 16px;
        fill: var(--white, #fff);
      }
    }
  }
}
