/* You can add global styles to this file, and also import other style files */
:root {
  --light-blue: #1db9ff;
  --light-grey: #ababab;
  --neon-green: #35de15;
  --white: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.endpoint svg circle {
  fill: white;
}

.jtk-dragging svg {
  border: 0px;
}

.startpoint svg circle {
  fill: white;
}

.jtk-dragging svg circle {
  fill: var(--light-grey);
  stroke-width: 0;
}

.jtk-endpoint-full svg circle {
  fill: var(--light-grey);
}

.endpointHover svg circle {
  fill: var(--light-grey);
}

.connector path {
  stroke: var(--light-grey);
  stroke-width: 3px;
}
